.hero__section {
    background-image: url("../../../assets/bg/hero_bg.png");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 58px 150px 0 rgba(0, 107, 184, .42);
    min-height: 100svh;
    padding-top: 120px;
    .hero__content {
      padding: 4rem 2rem;
      display: grid;
      grid-template-columns: auto auto;
      max-width: 1300px;
      margin: auto;
      .title {
        h1 {
          font-size: 3.75rem;
          font-weight: 700;
          color: #fff;
          line-height: 75px;
        }
      }
      .description {
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
          font-size: 2.25rem;
          font-weight: 600;
          line-height: 56px;
        }
        p {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 40px;
          text-shadow: 0px 4px 20px #006bb8;
        }
        button {
          cursor: pointer;
          transition: 0.3s;
          width: max-content;
          display: flex;
          padding: 1rem 2rem;
          gap: 1rem;
          border: none;
          border-radius: 1rem;
          background: rgba(0, 19, 55, 0.8);
          box-shadow: 25px 25px 100px 0 rgba(41, 95, 131, 0.25);
          align-items: center;
          backdrop-filter: blur(8px);
          span {
            font-weight: 500;
            font-size: 1.25rem;
            color: #fff;
          }
        }
        button:hover {
          background: rgba(71, 186, 184, 0.6);
          img {
            animation: rotate-center 0.6s ease-in-out both;
          }
        }
      }
    }
  }

  .scrollToTop{
    display: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #245A9C;
    position: fixed;
    bottom: 3.5rem;
    right: 2.5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 50px 0 rgba(36, 90, 156, 0.3);
    opacity: .75;
    img{
      width: 2.25rem;
      position: fixed;
      right: 2.65rem;
      bottom: 3.65rem;
    }
  }
  .active{
    display: block;
  }
  
  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .hero__section {
      .hero__content {
        grid-template-columns: auto;
        gap: 2rem;
        .title {
          h1 {
            line-height: 50px;
            font-size: 2.5rem;
          }
        }
        .description {
          gap: 1rem;
          h2 {
            line-height: 56px;
            font-size: 2rem;
          }
          p {
              line-height: 40px;
              font-size: 1.15rem;
              font-weight: 400;
          }
          button {
            width: 100%;
            justify-content: center;
            span {
              font-weight: 500;
              font-size: 1rem;
            }
            img{
              width: 1.25rem;
            }
          }
          button:hover {
            background: rgba(0, 19, 55, 0.8);
            img {
              animation: none;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .hero__section {
  
      .hero__content {
          gap: 1.5rem;
        .title {
          h1 {
              font-size: 2rem;
              line-height: 40px;
          }
        }
        .description {
          h2 {
              font-size: 1.25rem;
              line-height: 35px;
          }
          p {
              font-size: .75rem;
              line-height: 30px;
          }
          button {
            span {
              font-size: .75rem;
            }
            img{
              width: 1rem;
            }
          }
        }
      }
    }
  }
  