<app-navbar></app-navbar>

<div class="description">
    <p>Découvrez la qualité et l'engagement de Groupe SOLUCE ENERGIE à travers nos certifications, gages de notre expertise et de notre engagement en faveur de l'excellence dans le domaine des énergies renouvelables et de la rénovation énergétique.</p>
</div>

<div class="certifs">
    <img src="../../../assets/certifs/qualipac.png" alt="QualiPac logo">
    <img src="../../../assets/certifs/qualipv.png" alt="QualiPv logo">
    <img src="../../../assets/certifs/qualisol.png" alt="QualiSol logo">
</div>

<app-footer></app-footer>