.header {
  display: flex;
  gap: 2rem;
  max-width: 1280px;
  margin: 2rem auto 6rem;
  .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 50rem;
    }
    h2 {
      font-weight: bold;
      font-size: 2rem;
      color: #47bab8;
    }
    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      color: #202636;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      color: #737b8f;
    }
    .btn {
      transition: 0.3s;
      background: #47bab8;
      width: fit-content;
      display: flex;
      padding: 0.75rem 1.25rem;
      border-radius: 0.5rem;
      gap: 1rem;
      align-items: center;
      cursor: pointer;
      a {
        color: #fff;
        font-size: 0.875rem;
      }
      img {
        width: 24px;
      }
    }
    .btn:hover {
      background: rgba(35, 88, 155, 1);
    }
  }
}

.card__grid {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1280px;
  gap: 2rem;
  margin: auto;
  .card {
    box-shadow: 10px 10px 100px 0 rgba(36, 90, 156, 0.08);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      font-weight: bold;
      font-size: 1.5rem;
      color: #202636;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      color: #202636;
    }
    strong {
      font-size: 1rem;
      font-weight: 600;
      color: #202636;
    }
    a {
      display: flex;
      justify-content: end;
      cursor: pointer;
      color: #245a9c;
      font-weight: bold;
    }
  }
}

.separator {
  margin: 4rem 0;
}

@media screen and (max-width: 1300px) {
  .card__grid {
    margin: 0 2rem;
    grid-template-columns: auto;
  }

  .header{
    .box{
        margin: 0 2rem;
    }
    .box:nth-child(2){
        display: none;
    }
  }
}

@media screen and (max-width:768px) {
    .header {
      .box{
        h2{
          font-size: 1.5rem ;
        }
        h3{
            font-size: 1rem;
        }
        p{
            font-size: .875rem;
        }
      }
    }
  }

  @media screen and (max-width:500px) {
    .card__grid {
        margin: 0 1rem;
        .card {
          h2 {
            font-size: 1.25rem;
          }
          p {
            font-size: .875rem;
          }
          strong {
            font-size: .875rem;
          }
          a {
            font-size: 1rem;
          }
        }
      }
  }