<div class="footer">
  <div class="content__footer">
    <div class="logo">
        <img
          src="../../../assets/logo_couleur.svg"
          alt="Groupe SOLUCE ENERGIE logo"
        />
        <p>
          SOLUCE ENERGIE © {{ currentYear }}. Tous droits réservés <br />
          SIRET 948 469 796 00015
        </p>
      </div>
      <div class="section solutions">
        <h1>Solutions</h1>
        <ul>
          <li style="cursor: pointer;" *ngFor="let solution of solutions">
            <a (click)="openDialog(solution.type)">{{solution.title}}</a>
          </li>
        </ul>
      </div>
      <div class="section entreprise">
        <h1>Entreprise</h1>
        <ul>
          <li>
            <a routerLink="/aides-renovation-energetique">Vos aides</a>
          </li>
          <li>
            <a (click)="contactForm()" style="cursor: pointer;">Contact</a>
          </li>
          <li>
            <a routerLink="/blog">Blog</a>
          </li>
          <li>
            <a routerLink="/foire-aux-questions">FAQ</a>
          </li>
        </ul>
      </div>
  </div>
  <div class="end__footer">
      <div class="separator"></div>
      <a routerLink="/politique-de-confidentialite">Politique de confidentialité</a>
      <div class="socials">
          <a href="https://www.instagram.com/soluceenergie/" target="_blank"><img src="../../../assets/icons/instagram.svg" alt="instagram logo"></a>
          <a href="https://www.facebook.com/groupesoluceenergie?locale=fr_FR" target="_blank"><img src="../../../assets/icons/facebook.svg" alt="facebook logo"></a>
      </div>
  </div>
</div>
