<div class="footer">
    <div class="top_footer">
        <div class="entreprise">
            <img src="../../../assets/logoSoluceWhite.svg" alt="groupe soluce energie logo">
            <div class="socials">
                <img src="../../../assets/icons/insta.svg" alt="instagram logo">
                <img src="../../../assets/icons/facebook.svg" alt="facebook logo">
            </div>
        </div>
        <ul class="list">
            <li class="title">Entreprise</li>
            <li><a href="#">à propos</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">témoignages</a></li>
        </ul>
        <ul class="list">
            <li class="title">Support</li>
            <li><a href="#">RGPD</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">FAQ</a></li>

        </ul>
        <div class="newsletter">
            <span>Restez informé</span>
            <div class="inputNewsletter">
                <input type="text" placeholder="example@gmail.com">
                <mat-icon>send</mat-icon>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>Copyright © {{currentYear}} Soluce Energie . Tous droits réservés</span>
    </div>
</div>