

<div class="article">
    <div class="back__btn" routerLink="/aides-renovation-energetique">
        <img src="../../../assets/icons/arrow_left.svg" alt="flèche retour">
        <a>Retour</a>
    </div>

    <div class="contenu__article">
      <div *ngIf="aide && aide.fields" class="header">
        <h2>{{ aide.fields.titre }}</h2>
        <div *ngIf="aide.fields.contenu && aide.fields.contenu.nodeType === 'document'" class="content">
          <ng-container *ngFor="let content of aide.fields.contenu.content">
            <ng-container *ngIf="content.nodeType === 'paragraph'">
              <p *ngIf="content.content.length > 0">
                <ng-container *ngFor="let paragraphContent of content.content">
                  <ng-container *ngIf="paragraphContent.nodeType === 'text'">
                    <span *ngIf="estGras(paragraphContent.marks)">
                      <strong>{{ paragraphContent.value }}</strong>
                    </span>
                    <span *ngIf="!estGras(paragraphContent.marks)">{{ paragraphContent.value }}</span>
                  </ng-container>
                  <ng-container *ngIf="paragraphContent.nodeType === 'hyperlink'">
                    <a [href]="paragraphContent.data.uri" target="_blank">{{ paragraphContent.content[0].value }}</a>
                  </ng-container>
                </ng-container>
              </p>
            </ng-container>
            <ul *ngIf="content.nodeType === 'unordered-list'">
              <li *ngFor="let listItem of content.content">
                <ng-container *ngIf="listItem.nodeType === 'list-item'">
                  <ng-container *ngFor="let listItemContent of listItem.content">
                    <ng-container *ngIf="listItemContent.nodeType === 'paragraph'">
                      <p *ngIf="listItemContent.content.length > 0">
                        <ng-container *ngFor="let listItemParagraphContent of listItemContent.content">
                          <ng-container *ngIf="listItemParagraphContent.nodeType === 'text'">
                            <span *ngIf="estGras(listItemParagraphContent.marks)">
                              <strong>{{ listItemParagraphContent.value }}</strong>
                            </span>
                            <span *ngIf="!estGras(listItemParagraphContent.marks)">
                              {{ listItemParagraphContent.value }}
                            </span>
                          </ng-container>
                          <ng-container *ngIf="listItemParagraphContent.nodeType === 'hyperlink'">
                            <a [href]="listItemParagraphContent.data.uri" target="_blank" class="infos__link">
                              {{ listItemParagraphContent.content[0].value }}
                            </a>
                          </ng-container>
                        </ng-container>
                      </p>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    
</div>

<div class="separator"></div>
<app-obtenir-devis></app-obtenir-devis>
<div class="separator"></div>
<app-footer></app-footer>