<h2 mat-dialog-title>RGPD</h2>
<mat-dialog-content class="mat-typography">
    <h2>Informations sur la société</h2>

<p>Raison sociale de la société : SAS SOLUCE ENERGIE<br>
Capital de la société : 1 000.00 €<br>
SIRET : 94846979600015<br>
Numéro TVA Intracommunautaire : FR51948469796</p>

<h2>Informations commerciales</h2>

<p>Catégorie d'activité : BTP et construction<br>
Code NAF ou APE : 43.22B<br>
Adresse postale de la société : 34070</p>

<h2>Hébergeur</h2>

<p>Raison sociale de l'hébergeur : SAS LWS<br>
Capital de l'hébergeur : 500 000€<br>
RCS de l'hébergeur : RCS Paris B 851 993 683 00024 - APE 6311Z<br>
Numéro TVA de l'hébergeur : FR21 851 993 683<br>
Adresse du siège social de l'hébergeur : 75008 PARIS<br>
Nom du président de l'hébergeur : Nicolas Depredurand</p>

<h2>Coordonnées de contact</h2>

<p>Numéro de téléphone du service clientèle : +33631200061<br>
Horaires de contact : 09h00 à 12h30 – 14h00 à 17h30<br>
Adresse e-mail du service clientèle : <a href="mailto:contact@soluce-energie.fr">contact@soluce-energie.fr</a></p>

<h2>Signalement d'un contenu illicite</h2>

<p>Conformément à l’article 6-I-7 de la Loi du 21 juin 2004, dite LCEN, Soluce Energie vous permet de lui signaler tout contenu susceptible de revêtir les caractères des infractions visées aux cinquième et huitième alinéas de l’article 24 de la loi du 29 juillet 1881 sur la liberté de presse et à l’article 227-23 du Code pénal : apologie de crimes contre l’humanité, incitation à la haine raciale, pornographie enfantine.</p>

<p>Pour signaler un contenu manifestement illicite, généré par Internet, il vous suffit d’envoyer un courriel à <a href="mailto:servicetechnique@soluce-energie.fr">servicetechnique@soluce-energie.fr</a> en précisant :</p>

<ul>
    <li>Le contenu considéré comme illicite</li>
    <li>Votre identité (nom et coordonnées complètes)</li>
</ul>

<p>Soluce Energie vous rappelle que la LCEN punit tout abus de signalement d’une peine d'un an d'emprisonnement et de 15 000 € d’amende.</p>

<h2>Conditions d'utilisation du site Internet www.soluce-energie.fr</h2>

<p>Le site et chacun des éléments, y compris mais sans limitation des marques, les logos, les infographies, les articles, qui le composent sont protégés au titre de la législation internationale de la propriété intellectuelle.</p>

<p>Concernant les photographies, elles proviennent des sites Pexels.com ou Freepik.com, sont libres de droits et autorisées pour un usage commercial. Les contenus figurant sur le site sont la propriété de Soluce Energie.</p>

<p>Toute utilisation ou reproduction d’une partie/élément du site, sur n’importe quel support, n’est autorisée sans le consentement explicite de Soluce Energie.</p>

<p>La marque et le logo Soluce Energie ainsi que toutes les marques Soluce Energie présentes sur le site internet sont des marques enregistrées. Le seul titulaire de ces marques est la SAS SOLUCE ENERGIE.</p>

<p>Toutes les autres marques qui sont représentées sur le site (via nos partenaires, etc.) sont la propriété de leurs titulaires respectifs.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>