<nav class="navbar">
    <a class="company__logo" routerLink="/accueil">
        <img src="../../../assets/logo_couleur.svg" alt="SOLUCE ENERGIE company logo">
    </a>
    <ul class="menu">
        <li>
            <a routerLink="/aides-renovation-energetique">Vos aides</a>
        </li>
        <li>
            <a routerLink="/faq">FAQ</a>
        </li>
        <li>
            <a routerLink="/blog">Blog</a>
        </li>
    </ul>
    <div class="contact__us">
        <a>Contactez-nous</a>
        <img src="../../../assets/icons/messages-bulles.svg" alt="discussion icon">
    </div>
</nav>