<app-navbar></app-navbar>

<div class="logo">
    <img src="../../../assets/logo_couleur.svg" alt="soluce energie logo">
</div>

<p class="description">
    Bienvenue chez le <strong>Groupe SOLUCE ENERGIE</strong>, basé à Montpellier et opérant dans l'Hérault et ses environs. Nous sommes spécialisés dans les énergies renouvelables et la rénovation énergétique, offrant une expertise pointue et un accompagnement global.
</p>
<div class="aboutus">
    <h1>Notre Vision</h1>
    <p>Chez Groupe SOLUCE ENERGIE, notre engagement va au-delà des réalisations individuelles. Nous croyons au pouvoir de créer un impact durable. Notre réussite se mesure à l'héritage positif que nous laissons. Nous ne cherchons pas simplement à accomplir, mais à servir quelque chose de plus grand que nous. Rénovons ensemble !</p>

    <h1>Notre Mission</h1>
    <p>Nous avons un pôle d'études en ingénierie et expertise énergétique, qui s’aligne sur une stratégie axée sur la véritable performance dans le cadre du grenelle de l'environnement. En tant qu'entreprise ancrée dans une mission, nous évoluons continuellement pour relever les défis énergétiques. Notre équipe d'ingénieurs et de techniciens experts s'engage à développer notre savoir-faire, proposant des solutions économes en énergie et à la pointe de la technologie.</p>
    
    <h1>Notre Engagement Énergétique</h1>
    <p>Nous nous dédions à sensibiliser les foyers français à leur consommation énergétique. À travers des diagnostics énergétiques gratuits, nous identifions les solutions pour contrer l'augmentation des énergies. Votre consommation, notre préoccupation.</p>
    
    <h1>Votre Partenaire Énergie</h1>
    <p>Le groupe SOLUCE ENERGIE aspire à bâtir un monde durable. Notre mission est de vous aider à économiser de l'énergie grâce aux énergies renouvelables, en mettant à votre disposition des solutions performantes et durables. De l'expertise à l'accompagnement global, nous sommes à vos côtés à chaque étape de votre projet.</p>
</div>

<app-footer></app-footer>