<div class="logos">
    <div class="logos-slide">
        <a href=""><img src="../../../assets/partenaires/alliantz.svg" alt="alliantz logo"></a>
        <a href=""><img src="../../../assets/partenaires/apsystems.svg" alt="apsystems logo"></a>
        <a href=""><img src="../../../assets/partenaires/ariston.svg" alt="ariston logo"></a>
        <a href=""><img src="../../../assets/partenaires/atlantic.svg" alt="atlantic logo"></a>
        <a href=""><img src="../../../assets/partenaires/enphase.svg" alt="enphase logo"></a>
        <a href=""><img src="../../../assets/partenaires/maprimerenov.svg" alt="maprimerenov logo"></a>
        <a href=""><img src="../../../assets/partenaires/panasonic.svg" alt="panasonic logo"></a>
        <a href=""><img src="../../../assets/partenaires/solaredge.svg" alt="solaredge logo"></a>
    </div>
    <div class="logos-slide">
        <a href=""><img src="../../../assets/partenaires/alliantz.svg" alt="alliantz logo"></a>
        <a href=""><img src="../../../assets/partenaires/apsystems.svg" alt="apsystems logo"></a>
        <a href=""><img src="../../../assets/partenaires/ariston.svg" alt="ariston logo"></a>
        <a href=""><img src="../../../assets/partenaires/atlantic.svg" alt="atlantic logo"></a>
        <a href=""><img src="../../../assets/partenaires/enphase.svg" alt="enphase logo"></a>
        <a href=""><img src="../../../assets/partenaires/maprimerenov.svg" alt="maprimerenov logo"></a>
        <a href=""><img src="../../../assets/partenaires/panasonic.svg" alt="panasonic logo"></a>
        <a href=""><img src="../../../assets/partenaires/solaredge.svg" alt="solaredge logo"></a>
    </div>
</div>