<div class="logos">
    <div class="logos-slide">
        <a href="https://alliantz.fr" target="_blank"><img src="../../../assets/partenaires/alliantz.svg" alt="alliantz logo"></a>
        <a href="https://apsystems.com" target="_blank"><img src="../../../assets/partenaires/apsystems.svg" alt="apsystems logo"></a>
        <a href="https://www.ariston.com/fr-fr/" target="_blank"><img src="../../../assets/partenaires/ariston.svg" alt="ariston logo"></a>
        <a href="https://www.atlantic.fr" target="_blank"><img src="../../../assets/partenaires/atlantic.svg" alt="atlantic logo"></a>
        <a href="https://enphase.com/fr-fr" target="_blank"><img src="../../../assets/partenaires/enphase.svg" alt="enphase logo"></a>
        <a href="https://www.maprimerenov.gouv.fr/prweb/PRAuth/app/AIDES_/BPNVwCpLW8TKW49zoQZpAw*/!STANDARD" target="_blank"><img src="../../../assets/partenaires/maprimerenov.svg" alt="maprimerenov logo"></a>
        <a href="https://www.panasonic.com/fr/" target="_blank"><img src="../../../assets/partenaires/panasonic.svg" alt="panasonic logo"></a>
        <a href="https://www.solaredge.com/fr" target="_blank"><img src="../../../assets/partenaires/solaredge.svg" alt="solaredge logo"></a>
    </div>
    <div class="logos-slide">
        <a href="https://alliantz.fr"><img src="../../../assets/partenaires/alliantz.svg" alt="alliantz logo"></a>
        <a href="https://apsystems.com" target="_blank"><img src="../../../assets/partenaires/apsystems.svg" alt="apsystems logo"></a>
        <a href="https://www.ariston.com/fr-fr/" target="_blank"><img src="../../../assets/partenaires/ariston.svg" alt="ariston logo"></a>
        <a href="https://www.atlantic.fr" target="_blank"><img src="../../../assets/partenaires/atlantic.svg" alt="atlantic logo"></a>
        <a href="https://enphase.com/fr-fr" target="_blank"><img src="../../../assets/partenaires/enphase.svg" alt="enphase logo"></a>
        <a href="https://www.maprimerenov.gouv.fr/prweb/PRAuth/app/AIDES_/BPNVwCpLW8TKW49zoQZpAw*/!STANDARD" target="_blank"><img src="../../../assets/partenaires/maprimerenov.svg" alt="maprimerenov logo"></a>
        <a href="https://www.panasonic.com/fr/" target="_blank"><img src="../../../assets/partenaires/panasonic.svg" alt="panasonic logo"></a>
        <a href="https://www.solaredge.com/fr" target="_blank"><img src="../../../assets/partenaires/solaredge.svg" alt="solaredge logo"></a>
    </div>
</div>