<div class="main__card">
    <img class="bg" src="../../../assets/fingerTouch.png" alt="fingerTouch">
    <div class="description">
        <h1>Partenaires</h1>
        <p>Des alliances stratégiques renforçant notre capacité à proposer des solutions durables en énergies renouvelables et en rénovation énergétique. Ensemble, façonnons un avenir énergétique prometteur.</p>
    </div>
    <div class="partenaires">
        <img *ngFor="let partenaire of partenaires" src="{{partenaire}}">
    </div>
</div>