@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.logos {
  border-radius: 2rem;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(.5rem);
  overflow: hidden;
  display: flex;
  height: 10rem;
  align-items: center;
  .logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
    white-space: nowrap;
    img {
      height: 2rem;
      margin: 0 2rem;
      display: inline-block;
      max-width: fit-content;
    }
  }
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 10rem;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}
.logos:hover {
  .logos-slide {
    animation-play-state: paused;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.bg__partenaires{
  position: relative;
  border-radius: 1rem;
    max-width: 1280px;
    margin: 10rem auto;
    height: 20rem;
  .fingerTouch{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .description{
    position: absolute;
    z-index: 1;
    background: rgba(0, 19, 55, 0.6);
    width: 50%;
    top: -5rem;
    left: 5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #fff;
    backdrop-filter: blur(10px);
    h2{
      font-weight: bold;
      font-size: 3rem;
    }
    p{
      font-size: 1rem;
      line-height: 2rem;
    }

  }
  .list__partenaires{
    position: absolute;
    bottom: -5rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width:1300px) {
  .bg__partenaires{
    margin: 10rem 1rem;
    .description{
      width: 60%;
    }
    .list__partenaires{
      width: calc(100% + 2rem);
    left: -1rem;
    transform: translateX(0);
    }
  }
  .logos{
    border-radius: 0;
  }
}

@media screen and (max-width:768px) {
  .bg__partenaires{
    .description{
      left: 2rem;
      width: 80%;
      h2{
        font-size: 1.5rem;
      }
      p{
        font-size: .875rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media screen and (max-width:320px) {
  .bg__partenaires{
    .description{
      top: -10rem;
    }
  }
}