

<div class="content">
    <h1>Mentions légales</h1>

    <h2>1.1 Éditeur</h2>

    <p>Groupe SOLUCE ENERGIE</p>
    <p>48 rue Claude Balbastre</p>
    <p>34070 Montpellier</p>
    <p>94846979600015</p>

    <h2>1.2 Hébergeur</h2>

    <p>LWS (Ligne Web Services)</p>
    <p>RCS Paris B 851 993 683</p>

    <h2>2. Conditions générales d'utilisation</h2>

    <p>L'utilisation du site Internet www.soluce-energie.fr (ci-après le "Site") est soumise aux présentes conditions générales d'utilisation (ci-après les "CGU").</p>
    <p>L'accès et la navigation sur le Site sont réservés à un usage strictement personnel. L'utilisateur s'engage à ne pas utiliser le Site et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaires ou pour toute forme de sollicitation commerciale et notamment l'envoi de courriers électroniques non sollicités.</p>
    <p>L'utilisateur est informé que le Site est mis à jour régulièrement. En conséquence, les mentions légales peuvent être modifiées à tout moment. L'utilisateur est donc invité à les consulter de manière régulière.</p>    
    
    <h2>3. Propriété intellectuelle</h2>

    <p>L'ensemble des éléments du Site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels, sont protégés par les lois françaises et internationales en vigueur sur la propriété intellectuelle. Ces éléments sont la propriété exclusive de Groupe SOLUCE ENERGIE ou de ses partenaires. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie de ces éléments, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Groupe SOLUCE ENERGIE.</p>
    <p>Toute violation des droits de propriété intellectuelle de Groupe SOLUCE ENERGIE ou de ses partenaires est passible de poursuites judiciaires.</p>

    <h2>4. Liens hypertextes</h2>
       
    <p>Le Site peut contenir des liens hypertextes vers d'autres sites Internet. Groupe SOLUCE ENERGIE n'a pas de contrôle sur ces sites et ne peut être tenu responsable de leur contenu.</p>
    <p>L'utilisateur est seul responsable de l'utilisation des informations contenues sur ces sites.</p>

    <h2>5. Responsabilité</h2>

    <p>Groupe SOLUCE ENERGIE s'efforce de fournir des informations exactes et à jour sur le Site. Toutefois, Groupe SOLUCE ENERGIE ne saurait garantir l'exactitude, la complétude et l'actualité des informations contenues sur le Site.</p>
    <p>Groupe SOLUCE ENERGIE ne saurait être tenu responsable des dommages directs ou indirects, quelle qu'en soit la nature, résultant de l'utilisation du Site ou de l'impossibilité d'y accéder.</p>

    <h2>6. Données personnelles</h2>

    <p>Les données personnelles collectées sur le Site sont traitées conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée.</p>
    <p>Groupe SOLUCE ENERGIE s'engage à respecter la confidentialité des données personnelles de ses utilisateurs. Les informations recueillies sur le Site sont destinées à la gestion des relations avec les utilisateurs et à la mise à disposition des services du Site.</p>
    <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, l'utilisateur dispose d'un droit d'accès, de rectification et de suppression des données personnelles le concernant. Il peut également demander la limitation du traitement des données personnelles le concernant.</p>

    <p>L'utilisateur peut exercer ces droits en adressant un courrier électronique à l'adresse suivante : contact&#64;soluce-energie.fr</p>

    <h2>7. Droit applicable</h2>

    <p>Les présentes CGU sont régies par le droit français.</p>
    <p>En cas de litige, les parties s'engagent à rechercher une solution amiable. À défaut, le litige sera porté devant les tribunaux compétents.</p>

</div>

<app-footer></app-footer>