<app-navbar></app-navbar>
<div class="landingPage">
    <div class="welcome">
        <h1>Économisez de l'énergie en toute tranquillité.</h1>
        <p>Le Groupe SOLUCE ÉNERGIE est un cabinet d'experts spécialisé en rénovation énergétique, énergies renouvelables et amélioration de l'habitat, offrant des solutions clés en main.</p>
        <p>Grâce à notre bureau d'études et nos poseurs certifiés, nous proposons des solutions technologiques de pointe pour vos besoins.</p>
        <button>Démarrez avec nous</button>
    </div>
    <img src="../../../assets/illustration_house.svg" alt="illustration d'une maison avec panneaux photovoltaïques">
</div>
<app-listsolutions></app-listsolutions>
<app-listservices></app-listservices>
<app-testimonials></app-testimonials>
<app-brands></app-brands>
<app-footer></app-footer>