<div class="certifications__container" id="certifications">
    <div class="list__certifs">
        <img *ngFor="let qualification of qualifications" [src]="qualification.img" [alt]="qualification.alt">
    </div>
    <div class="description">
        <h1>Certifications</h1>
        <div class="separator"></div>
        <h3>Vos besoins, Notre expertise !</h3>
        <div class="light__separator"></div>
        <p>Afin de garantir la qualité et la performance de nos installations pour nos clients, nous disposons de toutes les qualifications nécessaires pour mieux vous accompagner.</p>
    </div>
</div>