/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

body {
  background-color: #fefefe;
}
html {
  scroll-behavior: smooth;
}

.matMenu .mat-mdc-menu-item,
.matMenu .mat-mdc-menu-item:visited,
.matMenu .mat-mdc-menu-item:link {
  background: #2ea0ba;
  color: white;
}
.mat-mdc-menu-content {
  background: #2ea0ba;
}
.mat-mdc-menu-submenu-icon {
  fill: white !important;
}

.separator {
  display: flex;
  justify-content: center;
  .line {
    width: 3rem;
    height: 0.2rem;
    border-radius: 1rem;
    background: #121212;
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #51c4b8;
}

.carouselTestimonials .owl-carousel .owl-nav .owl-prev,
.carouselTestimonials .owl-carousel .owl-nav .owl-next {
  background: none !important;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  margin: 0 1rem;
}
