/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss";

* {
  scrollbar-width: thin;
  scrollbar-color: #51c4b8 #ffffff;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #51c4b8;
  border-radius: 16px;
  border: 0px none #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

body {
  transition: 0.3s;
  background-color: #fefefe;
}
html {
  scroll-behavior: smooth;
}

p,h1,h2,h3,h4,h5,h6,span {
  font-family: 'Montserrat', sans-serif !important;
}

.matMenu .mat-mdc-menu-item,
.matMenu .mat-mdc-menu-item:visited,
.matMenu .mat-mdc-menu-item:link {
  background: #2ea0ba;
  color: white;
}
.mat-mdc-menu-content {
  background: #2ea0ba;
}
.mat-mdc-menu-submenu-icon {
  fill: white !important;
}

.separator {
  display: flex;
  justify-content: center;
  .line {
    width: 3rem;
    height: 0.2rem;
    border-radius: 1rem;
    background: #121212;
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #51c4b8;
}

.carouselTestimonials .owl-carousel .owl-nav .owl-prev,
.carouselTestimonials .owl-carousel .owl-nav .owl-next {
  background: none !important;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  margin: 0 1rem;
}

.solutionMenu {
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    border-bottom-color: transparent !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::after {
    border-bottom-color: transparent !important;
  }
}
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label--float-above,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text,
.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow,
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #23589b !important;
}

.solution_description {
  ul {
    padding-left: 2rem;
  }
  h3,
  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.question_choisie {
  h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  ul {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .question_choisie {
    h3 {
      font-size: 0.9rem !important;
    }
  }
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background: none !important;
}
.mat-expansion-panel-header-title {
  text-decoration: underline;
  text-underline-position: under;
}
.mat-expansion-panel {
  background: none !important;
}

.errorSnackBar {
  background: rgb(221, 56, 56);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}

.mat-mdc-snack-bar-container {
  &.errorSnackBar {
    --mdc-snackbar-container-color: rgb(221, 56, 56);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    display: flex;
    align-items: center;
  }
}

.successSnackBar {
  background: rgb(10 145 17);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}

.mat-mdc-snack-bar-container {
  &.successSnackBar {
    --mdc-snackbar-container-color: rgb(10 145 17);
    --mat-mdc-snack-bar-button-color: #fefefe;
    --mdc-snackbar-supporting-text-color: #fefefe;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  body > app-root > app-contact > div > mat-accordion > mat-expansion-panel{
      margin: 0.5rem 10rem !important;
      #mat-expansion-panel-header-0{
        padding: 0 1rem !important;
      }
      
  }
  
}

// DARKMODE
// DARKMODE
// DARKMODE
// DARKMODE
// DARKMODE
// DARKMODE

.dark {
  background-color: #1e1e1e;
  .matMenu .mat-mdc-menu-item,
  .matMenu .mat-mdc-menu-item:visited,
  .matMenu .mat-mdc-menu-item:link {
    background: #040911;
  }
  .mat-mdc-menu-content {
    background: #040911;
  }

  .desktopMenu {
    background: #040911 !important;
  }
  .mobileMenu {
    background: #040911 !important;
  }

  .mobileMenuOpened {
    background-image: linear-gradient(
      to right bottom,
      #040911,
      #011210
    ) !important;
    .menuOpened {
      .nestedGroup {
        background: #08172b !important;
      }
      .nestedSubGroup {
        background: #031935 !important;
      }
    }
  }

  .landingPage {
    background-image: linear-gradient(
      to right bottom,
      #040911,
      #011210
    ) !important;
  }
  h1 {
    color: #fefefe;
  }
  .line {
    background: #fefefe !important;
  }
  .dots {
    .dot {
      background-color: #333333 !important;
    }
  }
  .carouselSolutions {
    background: #333333 !important;
    .header {
      background: #0a131b !important;
    }
    ul {
      li {
        color: #fefefe !important;
      }
      li:nth-child(odd) {
        background: #222222 !important;
      }
    }
  }
  .servicesContainer {
    .service {
      background: #111 !important;
      color: #fefefe;
      img {
        filter: invert(99%) sepia(88%) saturate(201%) hue-rotate(187deg)
          brightness(115%) contrast(99%);
      }
    }
  }
  .testimonials {
    background-image: linear-gradient(
      to right bottom,
      #040911,
      #011210
    ) !important;
  }
  .logos {
    background-color: rgb(17 29 45 / 25%) !important;
  }
  .footer {
    background: #080e14 !important;
    .top_footer {
      .newsletter {
        .inputNewsletter {
          input {
            background: #08131b !important;
          }
        }
      }
    }
  }
  app-root
    > app-home
    > app-footer
    > div
    > div.top_footer
    > div.newsletter
    > div
    > input[type="text"] {
    background: #08131b !important;
  }
  app-root > app-about > p{
    color: #fefefe;
  }
  .aboutus {
    p {
      color: #fefefe;
    }
  }

  .main_vos_aides{
    color: #fefefe;
    .helps {
      .card{
        .cardContent{
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px !important;
          .grid{
            ul{
              li:nth-child(odd){
                background: #181818 !important;
              }
            }
          }
        }
      }
    }
    .differentAids {
      background: #141618 !important;
  }
  }

  app-root > app-nos-certifications > div.description > p{
    color: #fefefe;
  }
  app-root > app-nos-partenaires > div > p{
    color: #fefefe;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label--float-above,
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
    .mdc-list-item__primary-text,
  .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow,
  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
  .mat-primary
    .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #fefefe !important;
  }
  #mat-select-0-panel {
    background: #333;
  }
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
    .mat-mdc-text-field-wrapper {
    background: #111;
  }
  #mat-mdc-form-field-label-0 > mat-label {
    color: #fefefe;
  }
  #mat-select-value-1 > span > span {
    color: #fefefe;
  }
  #mat-select-0
    > div
    > div.mat-mdc-select-arrow-wrapper.ng-tns-c3393473648-1
    > div
    > svg
    > path {
    color: #fefefe;
  }
  .mat-mdc-option .mdc-list-item__primary-text {
    color: #fefefe;
  }
  .carouselSolution {
    background: #0b1514 !important;
  }
  .carouselSolution:active {
    background: #070a09 !important;
  }
  .solution_description,
  .question_choisie {
    color: #fefefe;
  }
}
