

<div class="header">
  <h1>La rénovation énergétique : vos questions, nos réponses</h1>
  <h3>Tout savoir sur la rénovation énergétique de votre logement</h3>
  <p>
    La rénovation énergétique est un sujet important pour les propriétaires de
    logements. Elle permet de réduire la consommation d'énergie et les émissions
    de gaz à effet de serre, ce qui est bénéfique pour votre porte-monnaie et
    pour l'environnement.<br /><br />Dans cette FAQ, nous répondons à vos
    questions les plus fréquentes sur la rénovation énergétique. Nous vous
    expliquons ce qu'est la rénovation énergétique, quels sont ses avantages,
    quels sont les travaux les plus efficaces, comment financer la rénovation
    énergétique et comment trouver un professionnel qualifié.<br /><br />Nous
    espérons que cette FAQ vous aidera à mieux comprendre la rénovation
    énergétique et à prendre les bonnes décisions pour votre logement.
  </p>
</div>


<div class="faq">
    <div class="leftCol">
        <div class="content" *ngFor="let qw of faqLeftCol; let i = index">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <div class="question">
                        <h2>{{ qw.fields.question }}</h2>
                      </div>
                  </mat-expansion-panel-header>
                  <p>
                    {{ qw.fields.reponse }}
                  </p>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="separator"></div>
        </div>
    </div>
    <div class="rightCol">
        <div class="content" *ngFor="let qw of faqRightCol; let i = index">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <div class="question">
                        <h2>{{ qw.fields.question }}</h2>
                      </div>
                  </mat-expansion-panel-header>
                  <p>
                    {{ qw.fields.reponse }}
                  </p>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="separator"></div>
        </div>
    </div>
</div>

<app-obtenir-devis></app-obtenir-devis>
<div class="section__separator"></div>
<app-footer></app-footer>