<h2 mat-dialog-title>RGPD</h2>
<mat-dialog-content class="mat-typography">
    <h2>Collecte des données personnelles</h2>

    <p>Les informations recueillies sur nos formulaires sont enregistrées dans un fichier informatisé. Nous collectons les données suivantes : nom, prénom, adresse e-mail, et numéro de téléphone.</p>
    
    <p>Les données collectées seront uniquement communiquées à notre équipe chez Soluce Energie.</p>
    
    <p>Nous conservons vos données pendant la durée légale. Cependant, sur demande, vous avez le droit de demander la suppression de vos données.</p>
    
    <p>Vous pouvez demander l’accès aux données vous concernant, les rectifier, demander leur effacement, ou exercer votre droit à la limitation du traitement de vos données. Vous pouvez également vous opposer au traitement de vos données ou exercer votre droit à la portabilité de vos données.</p>
    
    <p>Consultez le site <a href="https://www.cnil.fr/" target="_blank">cnil.fr</a> pour plus d’informations sur vos droits.</p>
    
    <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez nous contacter par e-mail à l'adresse <a href="mailto:contact@soluce-energie.fr">contact@soluce-energie.fr</a>.</p>
    
    <h2>Medias</h2>
    
    <p>Les utilisateurs ne sont pas autorisés à téléverser d'images sur notre site.</p>
    
    <h2>Cookies</h2>
    
    <p>Actuellement, nous n'utilisons pas de cookies sur notre site. Si cela venait à changer, nous mettrons à jour cette section pour vous informer des modifications.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
